body {
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #202020; /* Dark grey text */
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.text {
  max-width: 100%;
  font-size: 1.125rem;
  margin: 10px;
}

.eb-garamond- {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.heading {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  margin: 50px 0;
  padding: 20px;
  text-align: center;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Styles for buttons */
.button {
  background-color: rgb(245, 245, 245);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "EB Garamond", serif;
  display: inline-block;
  margin-bottom: 50px;
}

/* Hover effect */
.button:hover {
  background-color: #202020; /* Dark grey background */
  color: white; /* White text */
}

.footer {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-top: auto; /* Pushes footer to the bottom */
  position: fixed;
}


.container {
  display: flex;
  width: 100%;
  height: 100vh; /* Full viewport height */
  position: relative;
}

.images-container {
  display: flex;
  flex-direction: row;
  width: 50%; /* Adjust width as needed */
  height: 100%;
  box-sizing: border-box;
}

.images-container img {
  width: calc(100% - 10px); /* Each image takes up 1/3 of the container width minus margin */
  height: 100%;
  margin-right: 10px;
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  border-radius: 8px;
}


.images-container img:last-child {
  margin-right: 0; /* Remove margin from the last image */
}

.content {
  width: 50%; /* Adjust width as needed */
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto; /* Allows content to be scrollable if it overflows */
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
