body {
    font-family: "EB Garamond", serif;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    color: #202020; /* Dark grey text */
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
  }

  .eb-garamond- {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .text {
    max-width: 100%;
    margin: 10px;
    color: #202020;
    font-family: Cormorant Unicase, serif; 
    text-align: left; 
    margin-left: 10%;
  }

  .hover{
    color: #202020;
    text-decoration: none;
    font-weight: 700;
  }

  .hover:hover{
    color: #e34a65;
  }

  .fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    text-align: center;
    margin: 50px 0;
    padding: 20px;
  }
  
  .fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Styles for buttons */
.button {
  background-color: rgb(245, 245, 245);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "EB Garamond", serif;
  display: inline-block;
  margin-bottom: 50px;
    font-size: 1em;
  font-weight: 100;
}

/* Hover effect */
.button:hover {
  background-color: #202020; /* Dark grey background */
  color: white; /* White text */
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 2vw; /* Adjust gap between buttons */
}

